@media all and (max-width: 1024px) {
    .ul-large a{
        padding: 20px 0px !important;
    }
}
@media all and (max-width: 850px) {
    .ul-large a{
        padding: 15px 0px !important;
        font-size: 12px !important;
    }
}
/*@media all and (max-width: 710px) {*/
    /*.ul-large a{*/
        /*padding: 5px 0px !important;*/
        /*font-size: 12px !important;*/
    /*}*/
/*}*/
@media all and (max-width: 710px) {
    .ul-large{
        display: none;
    }
    .nav-small{
        display: inline-block;
    }
    .logo img {
        height: 50px !important;
    }
    .banner {
        margin-top: 53px !important;
    }
}
@media all and (min-width: 800px) {

}