html, body{
    height:100%;
}
img{
    max-width: 100%;
}
.sub-nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: #fff;
    text-align: center;
    /*display: none;*/
    width: 100%;
    -webkit-box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);
}
.ul-large{
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 20px;
}
.ul-large li{
    list-style: none;
    cursor: pointer;
    margin: 0;
    display: inline-block;
    padding: 27px 5px;
}
.ul-large li a{
    color: #4dbb6d;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.ul-large li a:hover{
    text-decoration: none;
}
.ul-large li:hover{
    background-color: #eee;
    border-bottom: 5px solid #4dbb6d;
}
.menu-active{
    background-color: #eee;
    border-bottom: 5px solid #4dbb6d;
}
.banner{
    padding: 0;
    margin-top: 65px;
}
.header{
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    display: inline-block;
}
.logo {
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
}
.logo img{
    height: 60px;
}
.header ul{
    display: inline-block;
    float: right;
    /*margin-right: 30px;*/
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.12);*/
    margin: 0;
    padding: 0;
}
.header li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
.header li:hover{
    color: #4dbb6d;
}
.header a{
    color: #fff;
    font-size: 16px;
    transition: ease all 300ms;
    text-decoration: none;
    text-transform: uppercase;
}
.header a:hover{
    color: #4dbb6d;
}
.header-sm {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 111;
}

.owl-carousel-first {
    font-size: 16px;
    line-height: 32px;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
}
.slogan .owl-dots{
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.icon-menu-sm {
    background-color: #4dbb6d;
    color: #fff;
    padding: 12px 20px;
    font-size: 30px;
    border-radius: 50%;
}
.content{
    height:100%;
}
.first-section{
    /*height: 100%;*/
    margin-top: 65px;
    min-height: 100%;
    width: 100%;
    background: url('http://preview.oklerthemes.com/porto/5.7.2/img/demos/business-consulting/slides/slide-2.jpg') no-repeat;
    background-size: cover;
    padding: 0;
}
.slogan{
    margin-top: 100px;
    /*margin-left: 60px;*/
    /*position: absolute;*/
    color: #fff;
}
.left{
    /*width: 50%;*/
    /*display: inline-block;*/
    margin-top: 20px;
}
.left span {
    color: #fff;
    display: block;
    font-size: 18px;
}
.right {
    width: 40%;
    display: inline-block;
    margin-left: 70px;
}
.first-intro {
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    /* position: absolute; */
    display: inline-block;
    width: 100%;
}
.item-contact {
    /*display: inline-block;*/
    /*width: 45%;*/
    border-left: 2px solid #4a8961;
    padding-left: 10px;
    margin-top: 20px;
}
.title-contact {
    color: #4dbb6d;
    font-size: 16px;
}
.content-contact {
    color: #fff;
    font-size: 16px;
}
section{
    padding: 30px 0px;
}
.intro, .product, .service{
    background-color: #e9f0f5;
}
.intro_home{
    background: url("../images/bgIntro.jpg") no-repeat center center;
    background-attachment: fixed;
    color: #ffffff;
    background-size: cover;
}
.caption{
    margin-top: -30px;
    margin-bottom: -30px;
    background-color: rgba(0,0,0,0.35);
}
.text-intro{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.title-section{
    color: #2e353e;
    font-size: 32px;
    font-weight: 700;
    display: block;
    position: relative;
    /*text-align: center;*/
    margin-bottom: 20px;
    border-bottom: 2px solid #4dbb6d;

}
/*.title-section::before{*/
    /*border-top: 4px double #ccc;*/
    /*content: "";*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 0;*/
/*}*/
.title-section h2 {
    color: #2e353e;
    font-size: 32px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    /*background-color: #fff;*/
    padding: 0px 10px;
}
.style{
    background-color: #fff;
}
.icon-style {
    font-size: 40px;
    height: 80px;
    width: 80px;
    margin: 10px;
    line-height: 80px;
    /*background-color: #4dbb6d;*/
    /*color: #fff;*/
    color: #4dbb6d;
    border: 1px solid #4dbb6d;
    text-align: center;
    border-radius: 50%;

}
.title-item-style {
    font-size: 20px;
    font-weight: bold;
}
.item-style {
    text-align: center;
}
.content-item-style {
    font-size: 16px;
    margin-top: 15px;
    text-align: left;
    line-height: 30px;
}
.icon-count{
    font-size: 28px;
    vertical-align: middle;
    display: inline-block;
    background-color: #4dbb6d;
    height: 86px;
    width: 60px;
    text-align: center;
    line-height: 86px;
    color: #fff;
    border-radius: 5px;
}
.number-count{
    font-size: 50px;
    color: #4dbb6d;
    display: inline-block;
    vertical-align: middle;
}
.counter {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.des-count {
    display: block;
    font-size: 18px;
}
.item-count {
    margin-top: 30px;
}

.owl-carousel-intro .owl-dots {
    text-align: right;
    width: 100%;
    margin-top: 30px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: -40px;
}

.owl-dot {
    border-radius: 50px;
    height: 15px;
    width: 15px;
    display: inline-block;
    background: rgba(127,127,127, 0.5);
    margin-left: 5px;
    margin-right: 5px;
}

.owl-dot.active {
    background: #4dbb6d;
}
.title-slide {
    color: #4dbb6d;
    font-size: 26px;
    font-weight: bold;
}
blockquote{
    border-left: 5px solid #4dbb6d;
    background-color: #fff;
}
.owl-carousel{
    margin-top: 20px;
}
.product img{
    height: 150px;
}
.item-product {
    margin-top: 30px;
    text-align: center;
}
.item-product-name {
    margin-top: 10px;
    font-size: 18px;
    color: #000;
}
.item-product:hover .item-product-hover{
    display: block;
}
.item-product-hover {
    position: absolute;
    height: 150px;
    width: calc(100% - 30px);
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    line-height: 200px;
    cursor: pointer;
    display: none;
}
.item-plus {
    font-size: 60px;
    color: #fff;
}

.modal-content{
    /*padding: 100px 0;*/
    /*min-height: 100%;*/
    /*border: 0;*/
    /*border-radius: 0;*/
    /*text-align: center;*/
    /*background-clip: border-box;*/
    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
    /*background-color: #e9f0f5;*/
}
.close-modal{
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
.modal-title-recruit {
    font-size: 18px;
}
.nav-modal {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    padding-bottom: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.nav-modal-active{
    border-bottom: 2px solid #4dbb6d;
    color: #4dbb6d;
}
.modal blockquote{
    margin-top: 50px;
    text-align: left;
}
.blockquote-reverse{
    text-align: right !important;
    border-right: 5px solid #4dbb6d;
}
blockquote span{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
#website-process{
    display: none;
}
.close-footer {
    margin-top: 50px;
}
.content-p{
    text-align: left;
    font-size: 20px;
    margin-top: 40px;
}
.modal-nds{
    background-color: #fff;
    min-height: 100%;
}
.game-name {
    margin-top: 10px;
    display: block;
    font-size: 16px;
}
.download-game {
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
}
.wrap-content-modal{
    margin-top: 50px;
}
#modal-mobile, #modal-nds, .modal{
    padding-right: 0px !important;
}
.icons{
    text-align: center;
    margin-top: 20px;
}
.icons i {
    font-size: 40px;
    height: 80px;
    width: 80px;
    margin: 10px;
    line-height: 80px;
    background-color: #4dbb6d;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}
.wrapper-recruitment {
    margin-top: 30px;
}
.title-recruitment {
    font-size: 20px;
    color: #000;
    text-align: center;
    border-bottom: 2px solid #4dbb6d;
    padding-bottom: 10px;
    margin-top: 30px;
}
.recruitment a{
    /*display: block;*/
    /*font-size: 16px;*/
    /*margin-top: 20px;*/
    /*color: #000;*/
    /*cursor: pointer;*/
}
.recruit-content{
    text-align: left;
}
.wrapper-post{
    margin-top: 20px;
}
.contact-footer input{
    margin: 20px 0px;
}
.contact-footer {
    background: url(../images/about_background.jpg) no-repeat;
    background-size: cover;
    color: #ddd;
    font-size: 17px;
}
.title-section-footer {
    color: #fff;
}
.item-contact-footer {
    margin-top: 20px;
}
.pagination>li>a{
    color: #4dbb6d !important;
}
.pagination>.active>a{
    background-color: #4dbb6d !important;
    color: #fff !important;
    border-color: #4dbb6d !important;
}
.item-news {
    margin-top: 20px;
    border-bottom: 1px dashed #CCC;
    padding-bottom: 10px;
    display: inline-block;
}
.img-news {
    max-width: 300px;
    text-align: center;
    margin-bottom: 15px;
}
.img-news img{
    /*height: 130px;*/
}
.title-news {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    display: -webkit-box;
    min-width: 200px;
    margin-left: 15px;
}
.content-news {
    display: -webkit-box;
    font-size: 14px;
    margin-left: 15px;
    color: #000;
}

.btnRecruit {
    margin: 0px 6px;
}
.item-recruit {
    position: relative;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 20px;
    padding: 5px;
}
.title-item-recruit {
    font-size: 16px;
    margin-top: 6px;
    font-weight: bold;
}
.item-recruit:hover .item-recruit-hover{
    display: block;
}
.item-recruit-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    display: none;
    /*text-align: center;*/
}
.group-btn-recruit {
    position: absolute;
    top: calc(50% - 15px);
    text-align: center;
    width: 100%;
}
.recruit-menu {
    margin: 0;
    padding: 0;
}
.recruit-menu li{
    list-style: none;
    margin: 10px 0;
    padding: 0;
}
.title-recruit {
    font-size: 18px;
    font-weight: bold;
    color: #4dbb6d;
    border-bottom: 1px dashed #4dbb6d;
    text-transform: uppercase;
    padding-bottom: 6px;
    margin-bottom: 20px;
}
.recruit-menu a{
    margin-top: 6px;
}
span.item-date {
    color: #333;
    font-size: 12px;
}
.error{
    color: red;
    font-weight: normal;
    padding-top: 6px;
}

.company-name {
    font-size: 20px;
    font-weight: bold;
    color: #4dbb6d;
}

.company-phone {
    font-size: 16px;
    margin: 10px 0px;
    color: chocolate;
}

.company-address {
    font-size: 16px;
    margin: 10px 0px;
}

.nav-small {
    font-size: 30px;
    background-color: #4dbb6d;
    display: inline-block;
    float: right;
    margin-right: 10%;
    margin-top: 2px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    display: none;
    cursor: pointer;
    webkit-box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);
}

.ul-sm {
    padding: 0;
    background-color: #fff;
    width: 150px;
    position: absolute;
    text-align: left;
    margin-left: -100px;
    margin-top: 5px;
    webkit-box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);
    display: none;
}

.ul-sm li{
    list-style: none;
    margin: 0;
    line-height: 30px;
    padding-left: 20px;
}

.ul-sm a{
    font-size: 15px;
}